@import url('https://fonts.googleapis.com/css?family=ZCOOL+XiaoWei&display=swap');
.navbar-nav > a{
  font-family: 'ZCOOL XiaoWei', serif;
    font-size: large;
    color:rgb(243, 134, 9);
    margin-left: 60px;
  }

  
  @media screen and (min-width: 1224px) {
    .menuedit {
      margin-left: 680px;
      
    }
  }

  .navbar-nav > a:hover
  {
    color:rgb(167, 240, 173);
  }

 
